body {
    margin: 0;
    padding: 0;
    font-family: 'Avenir', sans-serif;
    background-color: #E4E4E3;
    text-align: center;
}

#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1, h2 {
    margin: 50px;
}

h1 {
    font-family: 'Avenir', sans-serif;
    font-size: 36px;
}

h2 {
    font-family: 'Andale Mono', monospace;
    font-size: 18px;
}

.social-buttons {
    margin-top: 20px;
}

.social-buttons a {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #000000;
    font-size: 23px;
    line-height: 40px;
    margin: 0 5px;
    text-decoration: none;
    border-radius: 50%;
}

/* Estilos CSS para el footer */
.footer {
    background-color: #333; /* Color de fondo del footer */
    color: #fff; /* Color del texto del footer */
    padding: 20px; /* Espaciado interno del footer */
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .social-buttons a {
    color: #fff; /* Color de los iconos de redes sociales */
    margin: 0 10px; /* Espacio entre los botones de redes sociales */
    font-size: 24px; /* Tamaño de los iconos de redes sociales */
}

.email-address {
    margin-top: 10px; /* Espacio entre los botones de redes sociales y la dirección de correo electrónico */
}

a {
    color: #000000;
}
